* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  background: linear-gradient(135deg, #f8fbff 0%, #c3dcf6 100%);
  font-family: "Signika", sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
